body {
    margin: 0;
    font-family: 'Poppins', sans-serif;
    background-image: url("/images/auth.jpg");
    background-size: 80% 100%;
    background-position: left;
    backdrop-filter: blur(1px);
    background-repeat: no-repeat;
    
}

.register-container {
    position: relative;
    width: 98%;
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
}

/* LEFT BLUR CARD */
.welcome-box {
    font-family: 'Times New Roman', Times, serif;
    position: absolute;
    left: 6%;
    top: 50%;                        
    transform: translateY(-50%);     
    width: 420px;
    background: rgba(255, 255, 255, 0.623);
    backdrop-filter: blur(14px);
    border-radius: 15px;
    padding: 20px 25px;
    color: #111;
    border: 2px solid rgba(255,255,255,0.35);
}


/* FORM BOX FLOAT */
.form-box {
    text-align: center;
    position: absolute;
    right: 6%;
    width: 420px;
    background: #fff;
    border-radius: 22px;
    padding: 60px 40px;
    box-shadow: 0px 10px 30px rgba(0,0,0,0.18);
}

/* Details */
.form-title { 
    font-weight: 600; 
    margin-bottom: 40px;
    text-align: center;  
    background: linear-gradient(to bottom, #000000, #1B58DB);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}
.form-control { border-radius: 50px; padding: 12px 18px; }
.register-btn {
    width: 100%;
    border-radius: 50px;
    padding: 12px;
    font-weight: 600;
    background: linear-gradient(to right, #000, #799be5);
    color: white;
    border: none;
}
.login-text {
    text-align: center;
    margin-top: 15px;
    color: #555;
}
.login-text:hover {
    text-decoration: underline;
}
.welcome-title { 
    font-weight: 600; 
    margin-bottom: 25px;  
    gradient: linear-gradient(to bottom, #000000, #1B58DB);
    -webkit-background-clip: text;
    
}
.form-control { border-radius: 50px; padding: 12px 18px; }
.register-btn {
    width: 100%;
    border-radius: 50px;
    padding: 12px;
    font-weight: 600;
    background: linear-gradient(to right, #000, #799be5);
    color: white;
    border: none;
}
