body {
    background-color: #f8f9ff;
}

.card {
    transition: 0.2s;
}

.card:hover {
    transform: translateY(-5px);
    box-shadow: 0px 10px 20px rgba(0,0,0,0.1);
}

.card-img-top {
    background-color: #eaf3ff;
}
